/* Full screen container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
  background-color:  #1A243A;
  font-family: "Arial", sans-serif;
}

/* Card */
.login-card {
  background-color: #131649;
  height:80vh;
  padding: 30px 25px;
  border-radius: 25px;
  width: 320px;
  text-align: center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

/* Logo */
.login-logo {
  width: 180px;
  height: 160px;
  margin-bottom: 5px;
}

/* Inputs */
.login-input {
  width: 85%;
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.login-input:focus {
  border-color: #7d58c1;
  box-shadow: 0 0 5px rgba(125, 88, 193, 0.5);
}

/* Button */
.login-btn {
  width: 40%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #7d58c1, #a267ff);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.login-btn:hover {
  opacity: 0.9;
}

/* Error message */
.login-error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

